.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 100%;
    background: white;
    font-size: 30px;
    font-family: "Amatic", sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    height: 40px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .navigation {
        height: auto;
    }
    .container {
        height: auto;
        flex-direction: column;
    }
}
