.tipsPreview {
    padding: 25px 0;
}
.image img {
    width: 100%;
}
.title {
    font-family: "Amatic", sans-serif;
    padding: 30px 0;
    font-size: 36px;
    text-align: center;
}

.text {
    display: block;
}
